[Unit]
Description=Cluster RPi - Worker %i
After=cluster-daemon.service
Requires=cluster-daemon.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/cluster/app
Environment=WORKER_ID=%i
ExecStart=/home/pi/cluster/app/venv/bin/python worker.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
